@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Nunito", sans-serif;
}
.playfair-font {
  font-family: "Playfair Display", serif;
}
.career-card {
  background: linear-gradient(
    0.56deg,
    rgba(254, 92, 0, 0) 5.15%,
    #a13dff 81.43%
  );
}
.bg-blue {
  background: #3432ca;
}
.aws-card {
  background: linear-gradient(180deg, #009900 0%, rgba(52, 50, 202, 0) 100%);
}
.card {
  background: linear-gradient(
    359.99deg,
    rgba(0, 0, 0, 0) 5.74%,
    #3432ca 86.62%
  );
}
.text-gray {
  color: #4d4d4d;
}
.vertical-timeline-element-icon.shadow-size-small {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vertical-timeline-element-content {
  overflow: hidden !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
h1,
h2,
h3,
.capitalize {
  text-transform: capitalize;
}
